---
---
<html>
  <head>
    <script src='./storj.js'></script>
    <script>
      var storj = new Storj();
      window.storj = storj;

      var bucketId = '{{ site.data.bucket.bucketId }}'
      var files = [
        {% for file in site.data.bucket.files %}
        { name: '{{ file.name }}', id: '{{ file.id }}' },
        {% endfor %}
      ]

      function onClick(a, file) {
        for(var i = 0; i < files.length; i++) {
          if(files[i].name === file) {
            var frame = document.querySelector(`#f${files[i].id}`);
            if(frame) {
              return frame.remove();
            }

            renderPaper(a, files[i]);
            break;
          }
        }
      }

      function renderPaper(a, file) {
        var iframe = document.createElement('iframe');
        iframe.id = 'f' + file.id;
        iframe.style.width = "100%";
        iframe.style.height = "400px";
        a.parentElement.appendChild(iframe);
        var f = storj.getFile(bucketId, file.id, function() {
          /*
          f._mimetype = 'application/pdf';
          f.renderTo(`#${iframe.id}`, function() {
            console.log(arguments);
          });
          */
        });
      }
    </script>
    <style>
      h1 {
        text-align: center;
        padding-top: 2em;
      }
      p {
        padding-bottom: 2em;
        text-align: center;
      }
      h2 {
        padding-left: 2em;
      }
      img {
        width: 60px;
      }
      li {
        list-style: url('./static/pdf_icon.png');
      }
    </style>
  </head>
  <body>
    <h1><img src="./static/book_emoji.png"><br>P2P Storage Papers</h1>
    <p>All files served with ❤️ from <a href="https://github.com/storj/storj.js">storj.js</a></p>
    {% assign prev = "notafolder" %}
    <ul style="display: none;">
    {% for file in site.static_files %}
      {% assign path = file.path | split:'/' %}
      {% if path[1] == "files" %}
        {% if prev != path[2] %}
          {% assign prev = path[2] %}
          </ul>
          <h2> {{ path[2] }} </h2>
          <ul>
        {% endif %}
        <li> <a href="{{file.path}}" onclick="onClick(this, '{{path[3]}}'); return false;"> {{ path[3] }}</a> </li>
      {% endif %}
    {% endfor %}
  </body>
</html>
